/* Style dla aktywnych elementów menu */
.menu-item.active,
.menu-item.active-parent {
    background-color: #ccc;
}

.sub-menu {
    display: none;
}

.menu-item.active > .sub-menu {
    display: block;
}

.menu-level-1 {
    background-color: #eee;
}

.menu-level-2 {
    background-color: #ddd;
    margin-left: 10px;
}

.menu-level-3 {
    background-color: #ccc;
    margin-left: 20px;
}

/* Style dla elementów menu */
.menu-item {
    list-style-type: none;
    padding: 5px;
    cursor: pointer;
}
